
!debug.keystore
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
#
# Android/IntelliJ
# BUCK
# Bundle artifact
# CocoaPods
# For more information about the recommended setup visit:
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# OSX
# Xcode
# fastlane
# https://docs.fastlane.tools/best-practices/source-control/
# node.js
# screenshots whenever they are needed.
*.hmap
*.iml
*.ipa
*.jsbundle
*.keystore
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserstate
*/fastlane/Preview.html
*/fastlane/report.xml
*/fastlane/screenshots
.DS_Store
.gradle
.idea
.nuxt
/ios/Pods/
DerivedData
\.buckd/
buck-out/
build/
dist/
dist/dist/
local.properties
node_modules
node_modules/
npm-debug.log
package-lock.json
xcuserdata
yarn-error.log
